<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Itens</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id do item</th>
                        <th>Nome do item</th>
                        <th>CPF do Funcionário responsável</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items" class="text-center">
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.cpfFuncionario}}</td>
                        <td>
                            <button (click)="editarNome(item)" class = "btn btn-warning">Editar nome</button>
                            <button (click)="alterarResponsavel(item)" class="btn btn-info" style="margin-left: 10px;">Alterar responsável</button>
                            <button (click)="deletar(item)" class = "btn btn-danger" style="margin-left: 10px;">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


