<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Atualizar itens</h3>
        </div>
        <div class="card-body">
            <form action="" >
                <div class="form-group">
                    <label for="">Nome: </label>
                    <input #nome type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">CPF do responsável: </label>
                    <input #cpfFuncionario type="text" class="form-control">
                </div>
                <br>
                <button (click)="atualizarNome()" class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>
