<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Associar item a funcionário</h3>
        </div>
        <div class="card-body">
            <form action="" >
                <div class="form-group">
                    <label for="">CPF do responsável: </label>
                    <input [(ngModel)]="item.cpfFuncionario" name = "cpfFuncionario" type="text" class="form-control">
                </div>
                <br>
                <button (click)="confirmarAssociacao(item)" class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>
