<div style="text-align: center;">
  <h1>
    Lista do café da manhã
  </h1>
  <img width="130" alt="App Logo" src="../assets/breakfast.png" />
</div>
<div class="container" style="padding-bottom: 20px;">
  <button (click) = "listarItens()" class="btn btn-primary">Listar Itens</button>
  <button (click) = "adicionarItem()" class="btn btn-success" style="margin-left: 10px;">Adicionar Item</button>
  <button (click) = "listarFuncionarios()" class = "btn btn-info" style="margin-left: 10px;">Listar funcionários</button>
</div>

<router-outlet></router-outlet>
